*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
}

.contenedorAll {
    margin-top: 30px;
    height: 100vh;
    width: 70rem;
}

/* INICIO NAV */

.nav{
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
} 

.seach{
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 0 15px;
    border-radius: 9px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
}

.seach > input{
    height: 45px;
    width: 5.5rem;
    border: #fff;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
}

.seach > span{
    color:#EB5757;
    font-weight: 450;
}

/* FINAL NAV */

/* INICIO CARD */
/* .contenedorcards{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 70px;
} */

.card{
    display: flex;
    flex-direction: column;
    height: 360px;
    width: 395px;
}

.card > img{
    height: 269px;
    width: 395px;
    border-radius: 15px;
}

.description{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
/* FINAL CARD */
